html {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
	background-color: transparent !important;
}

body {
	background-color: transparent !important;
}

#displayHud {
	right: 150px;
	bottom: 65px;
	display: none;
	position: absolute !important;
	z-index: 999 !important;
}

#discord {
	float: left;
	width: 150px;
	height: 65px;
	/* opacity: 0.9; */
	background: url("images/discord.png") center no-repeat;
	right: -29px;
	bottom: -40px;
	position: absolute !important;
	z-index: 999 !important;
}

#displayBars {
	float: left;
	width: 156px;
	border-radius: 6px;
}


.barFull {
	width: 100%;
	float: left;
}


.healthBar {
	float: left;
	width: 200px;
	height: 25px;
	margin: 4px 0 9px 10px;
	background: rgba(0, 0, 0, 0.323);
	-webkit-transform: skew(-15deg);
	-moz-transform: skew(-15deg);
	-o-transform: skew(-15deg);
}

.healthHover {
	float: left;
	height: 26px;
	border-radius: 3px;
	/* border: 1px solid  #000; */
	/* background: #b17300; */
	background-image: linear-gradient(to right, rgb(135, 0, 0), rgb(194, 0, 0));
	transition: all 0.9s;
}

.health {
	float: none;
	width: 24px;
	height: 25px;
	/* opacity: 0.8; */
	margin: -2px 0 4px 4px;
	background: url("images/health.png") center no-repeat;
}

.clockDisplayText {
	font-weight: 700;
	padding-left: 6px;
	color: rgba(255, 255, 255, 0.8);
	position: absolute !important;
/* 	text-shadow: 1px 1px rgba(0, 0, 0, 0.8); */
	text-align: center;

}

.clockBack {
	float: left;
	width: 200px;
	height: 25px;
	background-image: linear-gradient(to right, rgb(135, 0, 0), rgb(0, 0, 0));
	border-radius: 3px;
}

.staminaOrGasBar {
	float: left;
	width: 201px;
	height: 5px;
	border-radius: 10px;
	margin: -6px 0 9px 10px;
	background: rgba(255, 255, 255, 0.2);
}

.staminaOrGasHover {
	float: left;
	height: 5px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.5);
	transition: all 0.9s;
}

#displayVehicle {
    right: 92px;
    bottom: 100px;
	display: none;
	font-size: 30px;
	font-weight: 700;
	text-align: right;
	color: rgba(204, 44, 44, 0.9);
	position: absolute !important;
	text-shadow: 1px 1px rgba(0,0,0,1);
	font-family: Arial,Helvetica,sans-serif;
}

#displayVehicle.over-telefone {
	right: 332px !important;
}

.seatbelt {
	color: rgba(255,255,255,0.9) !important;
}

#displayVehicle b {
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 3px;
	padding-right: 5px;
	color: rgba(204, 44, 44, 0.9);
}

#displayVehicle s {
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 3px;
	padding-right: 5px;
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}

cor {
	color: rgba(244,196,65,255);
}

#displayLogo {
	margin-top: 50px;
	float: right;
	margin-right: 0px;
	width: 180px;
/* 	margin: 0 auto 0 auto; */
}
#displayLogo img {max-width: 75%;opacity: 0.8;}

.voiceBack { 
    float:right;
    position:absolute;
	margin-left:-23.5px;  
	margin-top:-5px; 
	line-height: normal;
}

#voice { 
	position: fixed;
	margin: 0 auto;
	bottom: 50%;
	right: 50%;
}

.radioBack { 
    float:center;
    position:absolute;
	margin-left:-40px;  
	margin-top:+25px; 
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: normal;
	color: rgba(255, 255, 255, 0.5);
}

#radio { 
	position: fixed;
	margin: 0 auto;
	bottom: 50%;
	right: 50%;
}

#displayRadio.over-radio {
	bottom: 5px !important;
}

#movieTop {
	top: 0;
	left: 0;
	width: 100%;
	height: 13%;
	background: #000;
	position: absolute;
	display: none;
	z-index: 999 !important;
}

#movieBottom {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 13%;
	background: #000;
	position: absolute;
	display: none;
	z-index: 999 !important;
}